*{
    margin: 0;
}
nav{
    background-color: #202649;
    color: white;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 60px;
}
ul{list-style-type: none;
    /*Flex Box columns and rows */
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.underline{
    padding: 0px 5px;
    border-bottom: 3px solid white;
}

button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 5px;
}
#href{
    color: white;
}

#first{
    width: 400px;
    height: 480px;
    background-color: #202649;
    color: white;
    text-align: center;
    position: absolute;
    text-align: center;
    font-size: medium;
    position: absolute;
    margin-top: 100px;
    margin-left: 75px;
    margin-right: 100px;
    background-image: url(Photos/project1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: #202649;
}
#second{
    width: 400px;
    height: 480px;
    background-color: #202649;
    color: white;
    text-align: center;
    position: absolute;
    margin-top: -25px;
    margin-bottom: 80px;
    margin-left: 410px;
    background-image: url(Photos/project2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#third{
    width: 400px;
    height: 480px;
    background-color:#202649;
    position: absolute;
    margin-top:-25px;
    margin-left: 410px;
    margin-right: 500px;
    background-image: url(Photos/project3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}